<!-- Loop over each object in the projects array -->
<h1> Hello {{../user.name}}! Welcome to Tech Blog </h1>

{{#if posts.length}}
{{#each posts as |posts| }}

<article class="media box">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{posts.title}}</strong> <small>@{{user.username}}</small> <small>{{posts.date_created}}</small>
      </p>
    </div>
    <a class="button is-primary is-light" href="/post/{{posts.id}}">See Post</a>
  </div>
</article>
      {{/each}}
      {{/if}}