<div>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{user.name}}</strong>
        <br>
       {{text}}
        <br>
        <small>@{{user.username}} · <a>Reply</a> · posted: {{date_created}}</small>
      </p>
    </div>
           <article class="media">
            <small>{{comment.date_created}}</small>
          {{comment.text}}
        </article>

        <article class="media">
          Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
        </article>
  </div>
</article>

<form class="media" id="new-comment-form">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea id="comment-text" class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button id="comment-button" type="sumbit" class="button">Post comment</button>
      </p>
    </div>
  </div>
</form>
</div>

<script src="/js/comment.js"></script>