{{#if logged_in}}
<article class='media'>
  <div class='media-content'>
    <div class='content'>
      <p>
        <h2>{{title}}</h2>
        <div class="box">
        {{text}}
        <br>
        <div id="post-info">
        <small> @{{user.username}}
          {{!-- ·
          <a>Reply</a> --}}
          · Date Posted:
          {{date_created}}</small>
          </div>
        </div>
       
      </p>

      {{!-- <article class='media'>
        <p>
          <small>{{comment.date_created}}</small>
          {{comment.text}}
        </p>
      </article> --}}

      <article class='media column is-11 is-offset-1'>

       [comments] Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent
        malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt
        iaculis diam non, porta aliquet tortor.
      </article>
    </div>
  </div>
</article>

<form
  class='form new-comment-form'
  action='/posts/{{id}}/comments'
  method='post'
>
  <div class='media-content'>
    <div class='field'>
      <p class='control'>
        <textarea
          id='comment-text'
          class='textarea'
          placeholder='Add a comment...'
        ></textarea>
      </p>
    </div>
    <div class='field'>
      <p class='control'>
        <button id='comment-button' type='sumbit' class='button'>Post comment</button>
      </p>
    </div>
  </div>
</form>
<script src='/js/comment.js'></script>

{{else}}
<article class="box is-warning ">
  <div id="login-card"class="box">
    <h2>Please "Login" or "Signup" too see posts! </h2>
  </div>
  <div id="login-card"> 
      <a  class="button is-dark" href="/login">Login/Signup</a>
  </div>
  
</article>


{{/if}}
