<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="box col-md-6">
    <h3>What's on your techy mind today?</h3>
    <br>
    <form class="form new-post-form">
      <div class="form-group">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label  class="label">Title</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" placeholder="Post title" id="post-title">
              </p>
            </div>
          </div>
        </div>
        <label for="post-text"></label>
        <textarea class="textarea" placeholder="Enter post text here" id="post-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 project-list">
    <h3>Your Posts:</h3>
    {{#each posts as |posts|}}

    <article class="message is-small">
      
      <div class="message-header">
        <p class="media-left">{{posts.title}}</p>
         <p class="float-right"><strong>{{../name}}</strong> <small>@{{../username}}</small></p> 
    
        
     </div>

      <div class="message-body">

        <div class="content">
          <p>
            
            {{posts.text}}
            <br>
            
         
         
          <p><small>Posted on: {{posts.date_created}}</small> <small><a href="/post/{{posts.id}}">See Post</a></small></p>
           </p>
           <button class="button is-dark" data-id="{{posts.id}}" aria-label="delete" id="delete-post-btn">Delete</button>
        </div>
      </div>
    </article>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>